<h1>Alumno</h1>

<h4>{{alumno.nombre}}</h4>

<hr>

<div class="row">
	<form ng-submit="guardarAlumno()">
		Código:
		<br>
		<input type="text" class="form-control" ng-model="alumno.codigo" readonly="readonly">
		<br>

		Nombre:
		<br>
		<input type="text" class="form-control" ng-model="alumno.nombre" required>
		<br>

		Teléfono:
		<br>
		<input type="text" class="form-control" ng-model="alumno.telefono" ui-mask="{{telefonoMask}}" required>
		<br>

		Dirección:
		<br>
		<textarea type="text" class="form-control" ng-model="alumno.direccion" rows="5" required></textarea>
		<br>

		<button type="submit" class="btn btn-primary">Guardar Cambios</button>

		<br><br>

		<p class="text-success animated fadeIn fast" ng-show="actualizado">Registro actualizado</p>

	</form>

</div>

